#temperature {
    color: #b2bfe7;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 10px 0 10px;
}
  
#temperature.critical {
    color: #ff4a4a;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 10px 0 10px;
}