#pulseaudio {
    color: #c0e7b2;
    border-radius: 10px 0 0 10px;
    padding: 0 10px 0 10px;
}
  
#pulseaudio.microphone {
    color: #c6b2e7;
    border-radius: 0 10px 10px 0;
    padding: 0 10px 0 10px;
}