/* Styles for Waybar by fand1l ( 2024 )
 * GitHub: https://github.com/fand1l/...
*/


/* ALL */
* {
    border: none;
    padding: 0;
    margin: 0;
    min-height: 0;

    font-family: JetBrainsMono Nerd Font;
    font-size: 16px; 
}


/* MULTI */
#clock,
#window,
#language,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray  {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}


/* WINDOW */
window {
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 14px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
    border-radius: 10px;
}


/* TRAY */
#tray {
    border-radius: 10px;
    margin-right: 10px;
}


/* WORKSPACES */
#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
    border-radius: 10px;
}

#workspaces button.active {
    color: #a6adc8;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}


/* CLOCK */
#clock {
    color: #fab347;
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
}


/* NETWORK */
#network {
    color: #f9afaf;
    border-left: 0px;
    border-right: 0px;
}


/* BLUETOOTH */
#bluetooth {
    color: #afb7fa;
    border-left: 0px;
    border-right: 0px;
}


/* PULSEAUDIO */
#pulseaudio {
    color: #9efa89;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}


/* PULSEAUDIO MICRO */
#pulseaudio.microphone {
    color: #e6a6f7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}


/* BATTERY */
#battery {
    color: #a1e3cc;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}


/* LANGUAGE */
#language {
    color: #8ba2f3;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}


/* TOOLTIP */
tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
