/* 
  Styles for Waybar by fand1l ( 2024 )
  GitHub: https://github.com/fand1l/hyprland
*/


/* IMPORTS */
@import url("modules/battery/battery.css");
@import url("modules/bluetooth/bluetooth.css");
@import url("modules/clock/clock.css");
@import url("modules/disk/disk.css");
@import url("modules/language/language.css");
@import url("modules/launcher/launcher.css");
@import url("modules/netspeed/netspeed.css");
@import url("modules/network/network.css");
@import url("modules/opener/opener.css");
@import url("modules/power/power.css");
@import url("modules/pulseaudio/pulseaudio.css");
@import url("modules/separator/separator.css");
@import url("modules/taskbar/taskbar.css");
@import url("modules/temperature/temperature.css");
@import url("modules/tray/tray.css");
@import url("modules/updates/updates.css");
@import url("modules/user/user.css");
@import url("modules/weather/weather.css");
@import url("modules/window/window.css");
@import url("modules/workspaces/workspaces.css");
@import url("tooltip.css");


/* ALL */
* {
  border: none;
  padding: 0;
  margin: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  font-weight: 700;
}

/* WAYBAR */
#waybar {
  background-color: rgba(34, 34, 74, 0.9);
}

#battery,
#bluetooth,
#clock,
#disk,
#language,
#custom-launcher,
#custom-netspeed,
#network,
#custom-opener,
#custom-power,
#pulseaudio,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#custom-updates,
#user,
#custom-weather,
#window,
#workspaces {
  /*background-color: rgba(34, 34, 74, 0);*/
  padding-bottom: 5px;
  padding-top: 5px;
}
