#pulseaudio {
    color: #b2bfe7;
    border-radius: 10px 0 0 10px;
    padding: 0 10px 0 10px;
}
  
#pulseaudio.microphone {
    color: #b2bfe7;
    border-radius: 0px 10px 10px 0px;
    padding: 0 10px 0 10px;
}
